alabaster
awscli
babel
blinker 
boto3
botocore
certifi
charset-normalizer
click 
colorama 
docutils
Flask 
futures
gunicorn
idna
imagesize
itsdangerous 
Jinja2 
jmespath
MarkupSafe 
packaging
pyasn1
Pygments
python-dateutil
PyYAML
requests
rsa
s3transfer
six
snowballstemmer
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
Werkzeug 
xmltodict
